.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  background: #fff;
}

/* responsive صح */
@media screen and (max-width: 767px) {
  .radio-input {
    width: 100%;
  }
}

.radio-input label {
  flex: 1;
  padding: 12px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
}

/* بدل nth-child الأفضل */
.radio-input label {
  background-color: #9cadc1;
  color: white;
}

.radio-input label:first-child {
  background-color: #0056df;
}
/* 2 */
.radio-input label:nth-child(2) {
  background-color: #7fb7ef93;
}

/* 3 */
.radio-input label:nth-child(3) {
  background-color: #7fb7ef93;
}

/* 4 */
.radio-input label:nth-child(4) {
  background-color: #7fb7ef93;
}



.radio-input2 input {
  display: none;
}

.radio-input2 {
  --container_width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  background: #fff;
}

@media screen and (max-width: 767px) {
  .radio-input2 {
    width: 100%;
  }
}

.radio-input2 label {
  flex: 1;
  padding: 12px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  background-color: #9cadc1;
  color: white;
}

/* أول عنصر بس */
.radio-input2 label:first-child {
  background-color: #005ddf;
}

.radio-input2 label:nth-child(2) {
  background-color: #7fb7ef93; /* أي لون تختاره */
  color: white;
}

.radio-input2 label:nth-child(3) {
  background-color: #7fb7ef93;
  color: white;
}

.radio-input2 label:nth-child(4) {
  background-color: #7fb7ef93;
  color: white;
}
